firstproject.json
{
  "name": "firstproject",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        60
      ],
      "id": "7b342712-d171-453c-8fc4-b5d65da1a6a7",
      "name": "Telegram Trigger",
      "webhookId": "f0168441-6ea7-4ee0-b994-71eb25d9bcd3",
      "credentials": {
        "telegramApi": {
          "id": "MGSgUI4i48pRHsCK",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d514d05-b45e-47fe-a5f9-680d093c6087",
              "leftValue": "={{$json[\"message\"][\"text\"]}}",
              "rightValue": "Hi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7aeaf72d-fa3f-49a5-9c0b-dadf08957932",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        80
      ],
      "id": "cf22ef8b-7f29-4aad-9c19-24852a6a61cb",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer 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\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"deepseek/deepseek-chat-v3-0324:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"toda date.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        60
      ],
      "id": "ddfa71b2-0940-4275-86d1-2a68f2b6cfa3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{$node[\"HTTP Request\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        60
      ],
      "id": "84e5b9a6-ecb3-4849-b453-c475979cc2ba",
      "name": "Telegram",
      "webhookId": "292067a6-a411-4899-9f24-90c72cb12661",
      "credentials": {
        "telegramApi": {
          "id": "MGSgUI4i48pRHsCK",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a4a57fb8-f165-46cc-acb1-9d0d0a8e2429",
  "meta": {
    "instanceId": "2c7944ad62a93483a57edfc56df5a9e271fad3951f144051145597cf014bb98d"
  },
  "id": "jVm5tfVizCZMxM5T",
  "tags": []
}